# Configuración de Servidor
PORT=3000
NODE_ENV=development

# Base de Datos (Conexión para host local)
# DATABASE_URL="postgresql://postgres:12781278@localhost:5432/facturador?schema=public"

# Base de Datos (Conexión para Docker compose - usar esta si corres 'docker-compose up')
DATABASE_URL="postgresql://postgres:12781278@db:5432/facturador?schema=public"

# Seguridad y JWT
JWT_SECRET=fdf396a8e8e8e8e8e8e8e8e8e8e8e8e8
JWT_EXPIRES_IN=24h

# AFIP / ARCA Configuración
AFIP_WS_URL=https://wswhomo.afip.gov.ar/wsfev1/service.asmx?WSDL
AFIP_ENVIRONMENT=test

# Logging
LOG_LEVEL=debug
PRETTY_LOGS=true
