# Dependencies
node_modules/

# Build
dist/
build/

# Environment — NUNCA commitear credenciales reales
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Coverage
coverage/

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Prisma shadow db
.prisma/

/generated/prisma
